/* ------------------------------------
   Jumbotron
*/
.jumbotron.jumbotron-fluid {
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 5rem;
  color: white;
}

.jumbotron {
  font-family: 'PT Mono', monospace;
}
