/* ------------------------------------
   Footer
*/
footer {
  display: flex;
  height: 60px;
  background-color: black;
  color: white;
  margin-top: 100px;
  align-items: center;
  padding-left: 25px;
  padding-top: 15px;
  font-family: 'PT Mono', monospace;
}

.footer ul {
  padding-left: 25px;
  list-style-type: none;
}

.footer li {
  display: inline;
}
