/* ------------------------------------
   Pictures
*/
.Pictures {
  margin-top: 50px;
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.carousel {
  width: 500px;
  margin: 0 auto;
}

h5 {
  color: yellow;
  font-weight: bold;
}
